PORT=4567
MYMX_WEBHOOK_SECRET=replace_me
EVENT_STORE=../../data/events.jsonl
RULES_PATH=../../rules.json
NOTIFY_THRESHOLD=60
MATRIX_HOMESERVER=https://matrix.beeper.com
MATRIX_ACCESS_TOKEN=replace_me
MATRIX_ROOM_ID=!roomid:beeper.local
