PORT=4567
MYMX_WEBHOOK_SECRET=replace_me
EVENT_STORE=../../data/events.jsonl
RULES_PATH=../../rules.json
NOTIFY_THRESHOLD=60
MATRIX_HOMESERVER=https://matrix-client.matrix.org
MATRIX_ACCESS_TOKEN=replace_me
MATRIX_ROOM_ID=
MATRIX_ROOM_STORE=../../data/matrix-room.json
MATRIX_INVITE_USER=@your-main-account:matrix.org
